<div id="header-container">
    <div id="header-title">
      <h1 id="logo-wrap">
        <a href="<%- url_for() %>" id="logo"><%= config.title.replace(/，/g, ', ').replace(/；/g, '; ').replace(/：/g, ': ').replace(/！/g, '! ').replace(/‘/g, '` ').replace(/’/g, "' ").replace(/“/g, ' “').replace(/”/g, "” ").replace(/（/g, ' (').replace(/）/g, ') ').replace(/。/g, '. ').replace(/？/g, '? ') %></a>
      </h1>
      <% if (theme.subtitle || config.subtitle){ %>
        <h2 id="subtitle-wrap">
          <a href="<%- url_for() %>" id="subtitle"><%= (theme.subtitle || config.subtitle).replace(/，/g, ', ').replace(/；/g, '; ').replace(/：/g, ': ').replace(/！/g, '! ').replace(/‘/g, '` ').replace(/’/g, "' ").replace(/“/g, ' “').replace(/”/g, "” ").replace(/（/g, ' (').replace(/）/g, ') ').replace(/。/g, '. ').replace(/？/g, '? ') %></a>
        </h2>
      <% } %>
    </div>
  </div>
<!-- <%- partial('_partial/archive', {pagination: 2, index: true}) %> -->